.badge {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 30px;

  &--green {
    background-color: rgb(88, 224, 129);
  }

  &--red {
    background-color: rgb(236, 102, 165);
  }

  &--blue {
    background-color: rgb(131, 117, 250);
  }

  &--gray {
    background-color: rgb(177, 183, 185);
  }

  &--yellow {
    background-color: rgb(241, 250, 117);
  }

  &--lime {
    background-color: rgb(198, 253, 147);
  }
}
