.list {
  //create variable for remove icon
  $self: &;

  margin-bottom: 40px;

  &__add-button {
    svg {
      path {
        stroke: #d4d2b6;
      }
    }
  }

  &__add-button:hover {
    svg {
      path {
        stroke: rgb(226, 225, 182);
      }
    }
    span {
      color: rgb(240, 233, 170);
      font-weight: 500;
    }
  }

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 10px;
    margin-top: 8px;
    transition: background-color 0.25s ease-in-out;

    //low priory
    &:hover #{$self}__remove-icon {
      opacity: 0.4;
    }

    //high priory
    #{$self}__remove-icon {
      opacity: 0;
      transition: opacity 0.25s ease-in-out;

      &:hover {
        opacity: 0.9;
      }
    }

    span {
      flex: 1;
      color: #f5ff70;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 160px;
      white-space: nowrap;
    }

    &:hover {
      background: rgb(70, 104, 104);
      border-radius: 10px;
    }

    &.active {
      background: rgb(56, 133, 129);
      box-shadow: 1px 5px 10px rgba(75, 102, 95, 0);
      border-radius: 10px;
    }

    .badge {
      position: relative;
      left: 3px;
    }

    i {
      display: inline-flex;
      margin-right: 10px;
      svg {
        path {
          fill: rgb(204, 201, 173);
        }
      }
    }
  }
}
