.tasks {
  color: cornsilk;
  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  a {
    text-decoration: none;
  }

  &__title {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: rgb(69, 214, 130);
    border-bottom: 1px solid #37ad6c;
    padding-bottom: 10px;

    &:hover {
      img {
        opacity: 0.3;
      }
    }

    img {
      opacity: 0;
      margin-left: 10px;
      margin-bottom: 2px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__form {
    margin-top: 20px;

    &-block {
      .button {
        margin-right: 10px;
        margin-top: 15px;
      }
    }

    &-new {
      display: flex;
      align-items: center;
      cursor: pointer;
      opacity: 0.8;
      transition: opacity 0.2s ease-in-out;

      &:hover {
        opacity: 1;
      }

      img {
        width: 16px;
        height: 16px;
      }

      span {
        font-size: 16px;
        color: rgb(204, 207, 121);
      }
    }
  }

  &__items {
    margin-top: 42px;

    h2 {
      font-weight: 700;
      font-size: 22px;
      color: cornsilk;
    }

    &-row {
      display: flex;
      align-items: center;
      // margin-bottom: 15px;

      input {
        margin: 10px 20px;
        border: 0;
        font-size: 16px;
        width: 100%;
        background-color: rgb(98, 53, 119);
        color: rgb(255, 251, 233);

        &:hover &-actions {
          opacity: 1;
        }
      }

      &-actions {
        display: flex;
        opacity: 0;
        transition: opacity 0.15s ease-in-out;

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          background-color: lighten(#2f7dca, 2%);
          border-radius: 6px;
          margin-left: 5px;
          cursor: pointer;

          &:hover {
            background-color: darken(#2c73b9, 2%);
            svg {
              opacity: 0.9;
            }
          }

          svg {
            width: 11px;
            height: 11px;
            opacity: 0.4;
          }
        }
      }

      p {
        margin-left: 20px;
        border: 0;
        font-size: 16px;
        width: 100%;
      }
    }
  }

  .checkbox {
    //hide checkbox
    input {
      display: none;
    }

    svg {
      transition: opacity 0.25s ease-in-out;
      path {
        stroke: lightyellow;
      }
    }

    input:checked + label {
      background-color: #4dd599;
      border-color: #4dd599;

      svg {
        opacity: 1;
        path {
          stroke: #fff;
        }
      }
    }

    &:hover {
      label {
        background-color: rgb(30, 195, 200);
        border-color: rgb(28, 143, 163);
        svg {
          opacity: 0.8;

          path {
            stroke: #e6e6e6;
          }
        }
      }
    }

    label {
      cursor: pointer;
      border: 2px solid rgb(216, 216, 216);
      color: cornsilk;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      width: 20px;
      height: 20px;
      transition: background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;

      svg {
        opacity: 0;
      }
    }
  }
}
