.add-list {
  &__popup {
    width: 250px;
    height: 160px;
    background: rgb(22, 147, 151);
    box-shadow: 15px 6px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 17px;
    position: relative;
    box-sizing: border-box;
    top: -100px;
    // left: 10px;

    .button {
      width: 100%;
      margin-top: 15px;
    }

    &-close-btn {
      position: absolute;
      right: -5px;
      top: -5px;
      cursor: pointer;
    }

    &-colors {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
    }

    .badge {
      width: 25px;
      height: 25px;
      cursor: pointer;
      border: 2px solid transparent;

      //so that during selection it doesn’t shift badge
      border: 2px solid transparent;

      &.active {
        border: 2px solid #525252;
      }
    }
  }

  input {
    text-align: center;
    background: rgb(244, 246, 208);
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: 500;
  }
}
