* {
  box-sizing: border-box;
  font-family: "Montserrat", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: rgb(24, 86, 88);
}

.todo {
  //center container
  position: absolute;
  // up item in right container
  display: flex;
  left: 50%;
  font-size: 16px;
  top: 50%;
  width: 1000px;
  height: calc(100vh - 300px);
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 10px rgb(200, 202, 88);
  border-radius: 15px;
  border: 1px solid rgb(199, 191, 74);
  background-color: rgb(98, 53, 119);

  &__sidebar {
    background-color: rgb(95, 18, 65);
    color: cornsilk;
    width: 300px;
    height: 100%;
    border-right: 1px solid rgb(73, 150, 153);
    padding: 60px 20px;
    border-radius: 15px;
    overflow: scroll;
  }

  &__tasks {
    flex: 1;
    padding: 60px;
    overflow: auto;
  }
}

.button {
  background: #28794c;
  border: 5px;
  cursor: pointer;
  color: cornsilk;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 500;
  border: 1px solid cornsilk;
  border-radius: 10px;

  &:hover {
    background: darken(#52ce89, 15%);
  }

  &:active {
    background: darken(#5db685, 25%);
    color: #a31616;
  }

  &:disabled {
    background: darkgray;
  }

  &--gray {
    background: rgb(95, 18, 65);
    border: 1px solid cornsilk;
    color: cornsilk;

    &:hover {
      background: rgb(155, 66, 51);
    }

    &:active {
      background: rgb(117, 54, 54);
    }
  }
}

.field {
  background: rgb(216, 215, 150);
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
  padding: 8px 12px;
  font-weight: 300;
  width: 100%;

  &:focus {
    border-color: rgb(0, 26, 255);
  }
}
